/* App-level styles for Zinnia's custom widgets. */

usage-ring {
  color: var(--accent-color);
}

usage-ring.warning {
  color: var(--warning-color);
}

usage-ring.error {
  color: var(--error-color);
}
